.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}
.card-registration .select-arrow {
    top: 13px;
}
.form-outline legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
}
.d-flex button{
    border-radius: 50px;padding: .6rem 4rem;font-size:30px;border: none;
}
.d-flex button:hover{
    background: rgb(68, 141, 68);transition: all .4s linear;
}
            